.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
src/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
tslint.json
companion/**
!companion/pkg/companion.js
!companion/pkg/companion_bg.js
!companion/pkg/companion_bg.wasm